<div ng-include src="'app/modules/admin/views/main.html'"></div>
<div class="body-info-admin" id="marginfrom">   
  <h2 align="center">Employee</h2>
  <div class="table-responsive">
  
    <div align="right" style="float: right;margin-right: 15px; font-weight: 500;">
      <a ng-click="newEmployee()">
        <img src="assets/images/add.gif" border="0" alt="New Company">&nbsp;Add
      </a>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" ng-model="searchText" class="form-control" placeholder="Search" style="width:300px; margin-bottom: 5px;">
      </div>
    </form>
    <table ng-activity-indicator class="table table-striped">
      <thead>
        <tr style="border-bottom: 2px solid rgb(6,122,171); color: rgb(30,140,180);">
          <th >#</th>
          <th >FullName</th>
          <th >Country</th>
          <th >Email</th>
          <th >Mobile</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employeeList | filter: searchText">
          <td>{{$index + (currPage - 1)*itemsPerPage + 1}}</td>
          <td>{{employee.name | setFullName}}</td>
          <td>{{employee.country.title ? employee.country.title : '-'}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.mobile ? employee.mobile : '-'}}</td>
          <td ng-click="detailEmployee(employee)"><a aria-hidden="true"><img src="assets/images/edit.gif" border="0" alt="Detail employee"></a></td>
        </tr>   
      </tbody>
    </table>
    
    <div align="right" style="font-size: 14px;">
      {{"employer.assignment.choosepage" | translate}}
      <select name="pageOptions"
          ng-options="option.name | translate for option in pageOptions.availableOptions track by option.value"
          ng-model="pageOptions.selectedOption"
          ng-change="changeItemsPerPage(pageOptions.selectedOption)"></select>
      {{"employer.assignment.onepage" | translate}}
      <br>
      <ul class="pagination"
        uib-pagination
        total-items="totalEmploys"
        ng-model="currPage"
        max-size="maxSize"
        items-per-page="itemsPerPage"
        num-pages="numPages"
        first-text = "&laquo;"
        last-text = "&raquo;"
        previous-text = "&lsaquo;"
        next-text = "&rsaquo;"
        ng-change = "changePage(currPage)"
        boundary-links="true"
        force-ellipses="true"></ul>
    </div>

  </div>
</div>